/*==========================*/
/*======MAIN LAYOUT=========*/
/*==========================*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1 {
	margin: 0;
	padding: 0;
}

.hidden {

}

#page-container {
	background-color: red;
	width: 100%;
	min-height: 100%;
	margin: auto;
	position: relative;
	bottom: 0;
}

#content-wrap {
	height: 100%;
	bottom: 0;
}

#header {
	background-color: orange;
	height: 130px;
	margin-top: 0;
}

#main-content {
	background-color: blue;
	width: 70%;
	display: inline-block;
	min-height: 573px;
}

#sidebar1 {
	background-color: pink;
	float: left;
}

#sidebar2 {
	background-color: purple;
	float: right;
}

#sidebar1, #sidebar2  {
	width: 15%;
	display: inline-block;
	min-height: 573px;
}

#footer {
	background-color: yellow;
	height: 70px;
	width: 100%;
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	clear: both;
}

<<<<<<< HEAD
/***************************
PAGE: ABOUT US
***************************/

#listOfProfiles {
	padding: 0;
	margin: 0 auto;
	width: 750px;
	height: 100%;
	display: block;
}

#title-history {
	background-color: rgba(144, 89, 76, 0.4);
	margin: 0 auto;
	padding: 0;
	text-align: center;
	width: 750px;
}

#title-history h2 {
	margin: 0 0 -18px 0;
	padding: 20px 20px;
	color: white;
	font-size: 3.0em;
	font-weight: bold;
}

#listOfProfiles section {
	background-color: rgba(144, 89, 76, 0.4);
}

.profile ul {
	display: block;
	width: 705px;
	padding: 0;
	margin: 0 auto;
	list-style: none;
}

.profile ul li {
	margin: 20px 20px;
	height: 340px;
	display: inline-block;
}

.profile ul li img {
	margin: 15px 15px;
}

.adjRight {
	float: right;
}

.adjRight img {
	margin: 15px 0 0 0;
}

.adjLeft {
	float: left;
}

.name {
	margin: 0 0 15px 0;
	padding: 0;
	text-align: center;
}

.bio {
	text-align: justify;
	width: 325px;
	padding: 0;
	color: black;
}

.bioParagraph {
	white-space: initial;
	overflow: scroll;
	text-align: justify;
	width: 325px;
	height: 90%;
	padding: 0;
	margin: 0;
}


img.photo {
	border-radius: 30%;
	margin: auto;
}

#history {
	background-size: 750px 810px;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center top;
}







=======
/*Color schemes for all pages
////////////////////////////////////////////////////////////////////
*/

/*about page colors*/

/*red colors {
	color: #BF3F3F;
	color: #F6BABA;
	color: #FFFFFF;
	color: #FF1414;
	color: #C89C9C;
	color: #CE4444;
	color: #998989;
	color: #FF7ABC;
	color: #E81B82;
	color: #E92F2F;
}*/

/*about page colors*/

/*blue colors {
	color: #567CF9;
	color: #5454ED;
	color: #9793FF;
	color: #86E3DE;
	color: #60EFFF;
	color: #32ADFF;
	color: #BFE0FC;
	color: #F1F2FD;
	color: #0F00EF;
	color: #567CF9;
}*/

/*contact page color*/

/*green colors {
	color:#F1F2FD;
	color:#0B9C17;
	color:#2EEF7E;
	color:#AFFCA0;
	color:#9EBE8C;
	color:#B8C2B7;
	color:#CBF9CF;
	color:#00F420;
	color:#126E0C;
	color:#FFFFFF;
}*/
/* home page colors*/

/*all the colors ever {
	color: #BF3F3F;
	color: #F6BABA;
	color: #FFFFFF;
	color: #567CF9;
	color: #5454ED;
	color: #9793FF;
	color: #F1F2FD;
	color: #0B9C17;
	color: #2EEF7E;
	color: #ECF62C;
	color: #FFDB28;
	color: #FB28FF;
	color: #923DCB;
	color: #AB6AD6;
	color: #FFFB19;
}*/
>>>>>>> 30e898208d05c17b1552fbb2e0f0b636e572ee53
