/*==========================*/
/*======MAIN LAYOUT=========*/
/*==========================*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1 {
	margin: 0;
	padding: 0;
}

.hidden {

}

#page-container {
	background-color: red;
	width: 100%;
	min-height: 100%;
	margin: auto;
	position: relative;
	bottom: 0;
}

#content-wrap {
	height: 100%;
	bottom: 0;
}

#header {
	background-color: orange;
	height: 130px;
	margin-top: 0;
}

#main-content {
	background-color: blue;
	width: 70%;
	display: inline-block;
	min-height: 573px;
}

#sidebar1 {
	background-color: pink;
	float: left;
}

#sidebar2 {
	background-color: purple;
	float: right;
}

#sidebar1, #sidebar2  {
	width: 15%;
	display: inline-block;
	min-height: 573px;
}

#footer {
	background-color: yellow;
	height: 70px;
	width: 100%;
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	clear: both;
}

<<<<<<< HEAD
/***********************
PRODUCT PAGE
***********************/
#cardGrid {
	align-content: auto;
}

#productCard0,
#productCard1,
#productCard2,
#productCard3,
#productCard4,
#productCard5,
#productCard6,
#productCard7,
#productCard8,
#productCard9,
#productCard10,
#productCard11 {
	border: 5px solid lightgrey;
	border-radius: 5px;
	display: inline-block;
	max-width: 15%;
	margin: 10px;
	margin-left: 30px;
	vertical-align: top;
	padding: 5px;
	text-align: center;
	height: 25em;
	width: 20em;
	margin-left: 4em;
}

img {
	max-width: 115px;
}

input[type="button"] {
	padding-bottom: 3px;
	border-radius: 5px;
	color: blue;
	position: auto;
	width: 200px;
	height: 50px;
	font-size: 20px;
	font-weight: bold;
	border: none;
	background-color: lightgrey;
	margin-left: 50%;
}

/***********************
FOOTER
***********************/


footer {
	border-top: 3px solid grey;
 	font-size: 0.75em;
	text-align: center;
 	clear: both;
 	padding-top: 50px;
	color: grey;
	margin-bottom: 40px;
	margin-top: 40px;
}

.social-icon {
  width: 40px;
  height: 40px;
  margin: 0 5px;
}




=======
/*Color schemes for all pages
////////////////////////////////////////////////////////////////////
*/

/*about page colors*/

/*red colors {
	color: #BF3F3F;
	color: #F6BABA;
	color: #FFFFFF;
	color: #FF1414;
	color: #C89C9C;
	color: #CE4444;
	color: #998989;
	color: #FF7ABC;
	color: #E81B82;
	color: #E92F2F;
}*/

/*about page colors*/

/*blue colors {
	color: #567CF9;
	color: #5454ED;
	color: #9793FF;
	color: #86E3DE;
	color: #60EFFF;
	color: #32ADFF;
	color: #BFE0FC;
	color: #F1F2FD;
	color: #0F00EF;
	color: #567CF9;
}*/

/*contact page color*/

/*green colors {
	color:#F1F2FD;
	color:#0B9C17;
	color:#2EEF7E;
	color:#AFFCA0;
	color:#9EBE8C;
	color:#B8C2B7;
	color:#CBF9CF;
	color:#00F420;
	color:#126E0C;
	color:#FFFFFF;
}*/
/* home page colors*/

/*all the colors ever {
	color: #BF3F3F;
	color: #F6BABA;
	color: #FFFFFF;
	color: #567CF9;
	color: #5454ED;
	color: #9793FF;
	color: #F1F2FD;
	color: #0B9C17;
	color: #2EEF7E;
	color: #ECF62C;
	color: #FFDB28;
	color: #FB28FF;
	color: #923DCB;
	color: #AB6AD6;
	color: #FFFB19;
}*/
>>>>>>> 30e898208d05c17b1552fbb2e0f0b636e572ee53
