/*==========================*/
/*======MAIN LAYOUT=========*/
/*==========================*/

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
}

h1 {
	margin: 0;
	padding: 0;
}

.hidden {

}

#page-container {
	width: 100%;
	min-height: 100%;
	margin: auto;
	position: relative;
	bottom: 0;
}

#content-wrap {
	height: 100%;
	bottom: 0;
}

#header {
	background-color: orange;
	height: 200px;
	margin-top: 0;
}

#main-content {
	width: 80%;
	display: inline-block;
	min-height: 573px;
	position: relative;
	padding-bottom: 200px;
	background-color: lightgrey;
}

#sidebar1 {
	background-color: pink;
	float: left;
}

#sidebar2 {
	background-color: purple;
	float: right;
}

#sidebar1, #sidebar2  {
	width: 10%;
	display: inline-block;
	min-height: 573px;
}

#footer {
	background-color: yellow;
	height: 125px;
	width: 100%;
	margin-bottom: 0;
	position: absolute;
	bottom: 0;
	left: 0;
	clear: both;
}

.float-right {
	float: right;
}




/*==========================*/
/*==========HOME============*/
/*==========================*/

.home-consistent {
	margin-top: 74.5px;
	margin-left: 74.5px;
	margin-right: 0;
	height: 74.5px;
	width: 85%;
}

#home-title {
	margin: auto;
	margin-top: 74.5px;
	width: 85%;
	text-align: center;
	border: 2px solid black;
}

#home-title {
	font-size: 2em;
}

.logo-box {
	margin-left: 113.75px;
	margin-top: 74.5px;
	margin-bottom: 74.5px;
	height: 74.5px;
	width: 74.5px;
	border: 2px solid black;
	background-color: black;
}

#logo-box2 {
	margin: 74.5px auto;
}

.logo-mini {
	display: inline-block;
	margin: 10%;
	border: 1px solid black;
	width: 23.55px;
	height: 23.55px;
}

.logo-top-left1 {
	margin-right: 5%;
	margin-bottom: 5%;
	float: left;
	background-color: red;
}

.logo-top-right1 {
	margin-left: 5%;
	margin-bottom: 5%;
	float: right;
	border-radius: 50px;
	background-color: white;
}

.logo-bottom-left1 {
	margin-right: 5%;
	margin-top: 5%;
	float: left;
	display: block;
	background-color: green;
}

.logo-bottom-right1 {
	margin-left: 5%;
	margin-top: 5%;
	float: right;
	background-color: blue;
}

#home-description-one {
	height: 100%;
	margin-right: 0;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#about-red-div {
	width: 70%;
	margin: auto;
	margin-top: 74.5px;
	margin-bottom: 74.5px;
	background-color: red;
	border-radius: 15px;
}

.home-somethings {
	display: inline-block;
	width: 42.5%;
	text-align: center;
}

#home-something-one {
	border-right: 2px solid black;
	margin-left: 74.5px;
}

#about-green-div {
	width: 70%;
	margin: auto;
	margin-top: 74.5px;
	margin-bottom: 74.5px;
	background-color: green;
	border-radius: 15px;
}

#home-something-two {
	border-right: 2px solid black;
	margin-left: 74.5px;
}

#home-description-two {
	height: 100%;
	text-align: center;
	border-top: 2px solid black;
	border-bottom: 2px solid black;
}

#logo-box3 {
	float: right;
	margin-right: 113.75px;
}

#logo-top-left2 {
	margin-right: 5%;
	margin-bottom: 5%;
	float: left;
	border-radius: 50px;
	background-color: white;
}

#logo-top-right2 {
	margin-left: 5%;
	margin-bottom: 5%;
	float: right;
	background-color: blue;
}

#logo-bottom-left2 {
	margin-right: 5%;
	margin-top: 5%;
	float: left;
	display: block;
	background-color: red;
}

#logo-bottom-right2 {
	margin-left: 5%;
	margin-top: 5%;
	float: right;
	background-color: green;
}

#about-blue-div {
	width: 70%;
	margin: auto;
	margin-top: 74.5px;
	margin-bottom: 74.5px;
	background-color: blue;
	border-radius: 15px;
	clear: both;
}

/*CSS for the nav bar. NO TOUCHY!
/////////////////////////////////////////////////////////////////
*/
 
ul {
	list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    height: 130px;
    text-align: center;
}


li {
    display: inline;
    width: 100%;
    
 }
 li a:hover {
    background-color: #111;
}

li a:active {
    font-size:30pt;


}

/*Color schemes for all pages
////////////////////////////////////////////////////////////////////
*/

/*about page colors*/

/*red colors {
	color: #BF3F3F;
	color: #F6BABA;
	color: #FFFFFF;
	color: #FF1414;
	color: #C89C9C;
	color: #CE4444;
	color: #998989;
	color: #FF7ABC;
	color: #E81B82;
	color: #E92F2F;
}*/

/*about page colors*/

/*blue colors {
	color: #567CF9;
	color: #5454ED;
	color: #9793FF;
	color: #86E3DE;
	color: #60EFFF;
	color: #32ADFF;
	color: #BFE0FC;
	color: #F1F2FD;
	color: #0F00EF;
	color: #567CF9;
}*/

/*contact page color*/

/*green colors {
	color:#F1F2FD;
	color:#0B9C17;
	color:#2EEF7E;
	color:#AFFCA0;
	color:#9EBE8C;
	color:#B8C2B7;
	color:#CBF9CF;
	color:#00F420;
	color:#126E0C;
	color:#FFFFFF;
}*/
/* home page colors*/

/*all the colors ever {
	color: #BF3F3F;
	color: #F6BABA;
	color: #FFFFFF;
	color: #567CF9;
	color: #5454ED;
	color: #9793FF;
	color: #F1F2FD;
	color: #0B9C17;
	color: #2EEF7E;
	color: #ECF62C;
	color: #FFDB28;
	color: #FB28FF;
	color: #923DCB;
	color: #AB6AD6;
	color: #FFFB19;
}*/
































